NODE_ENV="development"

#App
NEXT_PUBLIC_APP_NAME="nextjs-mui-tailwind-boilerplate"

# Next
NEXT_PUBLIC_BASE_API_URL=http://localhost:3001


# API
NEXT_PUBLIC_API_VERSION=1

#Authorization
ACCESS_TOKEN_TTL=3600
